<nav class="navbar navbar-expand-lg h-auto  nav  bg-body-tertiary ">
  <div class="container-fluid  nav">
    <a class="navbar-brand m-2 todo" routerLink="/">ToDooo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active about m-2 " aria-current="page" routerLink="/newTodo">NewTodo&plus;</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active about  m-2" aria-current="page" routerLink="/about">AboutUs</a>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn button-89 " type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer">
  &copy;Cognizant. All Rights Reserved</footer>

